<!DOCTYPE html>

<html>

<head>
    <title> About</title> 
      <link rel="icon" href="/img/weather.png">  
     <link rel="stylesheet" href="/css/style.css">
</head>

<body> 
    <div class="main-contnt">
        {{>header}}
        <p> This website/app is about showing weather forecasts, at the front end the user provides the location, and at the
      backend, the third party servces convert that location into the forecast. It uses data from map box api and
      pirateweather api and is developed using javascript(Node.js)</p>
        <img class =' portrait' src="/img/pic1.jpg">

   </div>


     {{>footer}}
</body>

</html>
