<!DOCTYPE html>

<html>

<head>
    <title> Help</title>   
      <link rel="icon" href="/img/weather.png">
     <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
    <p>{{helpText}}</p>
    <p> If any queries you can contact : namitamahale310@gmail.com</p>
    </div>
    
    {{>footer}}
</body>

</html>